Practice/
venv/
App/tournament_app/.env
App/tournament_app/.my_pgpass
App/tournament_app/.pg_service.conf

App/tournament_app/core/__pycache__/
App/tournament_app/core/migrations/__pycache__/

App/tournament_app/users/__pycache__/
App/tournament_app/users/migrations/__pycache__/

App/tournament_app/tournaments/__pycache__/
App/tournament_app/tournaments/migrations/__pycache__/