Practice/
venv/
App/tournament_app/.env
*.pyc
__pycache__/

App/tournament_app/tournament_app/__pycache__/

App/tournament_app/core/__pycache__/
App/tournament_app/core/migrations/__pycache__/

App/tournament_app/users/__pycache__/
App/tournament_app/users/migrations/__pycache__/

App/tournament_app/tournaments/__pycache__/
App/tournament_app/tournaments/migrations/__pycache__/

App/tournament_app/clubs/__pycache__/
App/tournament_app/clubs/migrations/__pycache__/