{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tournaments/styles.css' %}">
    <link rel="stylesheet" href="{% static 'tournaments/all_participants.css' %}">
    <title> All Participants </title>

</head>
<body>
    <h1>{{ tournament.name }}</h1>
    <h2>All Participants: {{ participants_len }}</h2>
    {% if participants %}
    {% for p in participants|dictsort:'name'%}
    <p>{{ p.name }}</p>
    {% endfor %}
    
    {% else %}
    <p>No Participants</p>
    {% endif %}
    <h2>Add Participants</h2>
    <div class="add-participant-wrapper">
        <button class="manual-entry">Manual Entry</button>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group" id="input-group" data-url="{% url 'tournaments:upload_csv' uuid=tournament.uuid %}">
                <label for="csv-input" class="input-label" id="input-label">Upload .csv File</label>
                <input type="file" id="csv-input" class="csv-input"> 
            </div>
        </form>  
    </div>
    
    
    <a href="{% url 'tournaments:tournament_admin' tournament.uuid %}"><button>Back</button></a>
    <script src="{% static 'tournaments/handle_csv.js' %}"></script>
</body>
</html>
