{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> All Participants </title>
</head>
<body>
    <h1>{{ tournament.name }}</h1>
    <h2>All Participants: {{ participants_len }}</h2>
    {% if participants %}
    {% for p in participants|dictsort:'name'%}
    <p>{{ p.name }}</p>
    {% endfor %}
    <h2>Filter Participants</h2>

    {% else %}
    <p>No Participants</p>
    {% endif %}

    <a href="{% url 'tournaments:tournament_admin' tournament.uuid %}"><button>Back</button></a>
</body>
</html>
