{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tournament.name }}</title>
</head>
<body>
    <p> End of {{ round_num }}</p>

    {% for match in matches %}
    <p>{{ match.player_1.name }}: {{ match.p1_points }} - {{ match.player_2.name }}: {{ match.p2_points }}</p>
    {% endfor %}

    <p> Live Rankings </p>
    {% for p in participants %}
    <p>{{ p.name }} - {{ p.total_points }}</p>
    {% endfor %}

    {% if round_num >= tournament.rounds %}
    <a href="{% url 'tournaments:tournament_end' uuid=tournament.uuid %}"><button>End Tournament</button></a>
    {% else %}
    <a href="{% url 'tournaments:tournament_round' uuid=tournament.uuid round_num=next_round %}"><button>Next Round: Round {{ next_round }}</button></a>
    {% endif %}
</body>
</html>
