{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tournament.name }}</title>
</head>
<body>
    <p> {{ tournament.name }} has Ended</p>
    {% if multiple_winners %}
    <div>The tournament is tied between the following participants:</div>
    {% for win in t_winner %}
    <div>{{win.name}}</div>
    {% endfor %}
    {% else %}
    <div>Winner: {{ t_winner.first.name }}</div>
    {% endif %}
    <div>Leaderboard:</div>
    {% for p in participants %}
    <div>{{p.name}} - {{p.total_points}}</div>
    {% endfor %}

    <a href="{% url 'dashboard' %}"><button>Go Back to Start</button></a>
</body>
</html>
