{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.user.username }}'s Tournaments</title>
</head>
<body>
    <h1>{{ request.user.username }}'s Tournaments</h1>
    <h2> Admin Tournaments</h2>
    {% for admin_t in admin_tournaments %}
    <a href="{% url 'tournaments:tournament_admin' admin_t.uuid %}">
        {{ admin_t.name }}
    </a>
    {% endfor %}

    <h2> Joined Tournaments</h2>
    {% for tournament in tournaments %}
    <a href="{% url 'tournaments:tournament_details' tournament.uuid %}">
        {{ tournament.name }}
    </a>
    {% endfor %}
    
    <a href="{% url 'tournaments:create_tournament' %}"><button>Create Tournament</button></a>
</body>
</html>
