.pairings-wrapper{
    display: flex;
    flex-direction: row;
}

.pairings-form{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.p1_result{
    border-radius: 10%;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.pairing{
    display: inline-block;
    width: fit-content;
}

.p2_result{
    display: inline;
    border-radius: 10%;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    width: auto;
}